{include file=comm/head.html}

{include file=comm/top.html}

<div class="container pages">
	{include file=comm/position.html}
	<h2 class="text-center my-4 fs-sm-28 fs-24">{content:title}</h2>
	<div class="content">{content:content}</div>
</div>
<div class="container pages">
<!--	{pboot:if({page:rows}>0)}-->
<!--	<h5 class="border-bottom border-info pb-2"><i class="fa fa-sliders" aria-hidden="true"></i> 留言记录</h5>-->
<!--	{/pboot:if}-->

	<!-- 留言记录 -->
<!--	{pboot:message num=2}-->
<!--	<div class="media border-bottom pb-3 pt-3">-->
<!--		<img class="mr-3" src="[message:headpic]" height="25">-->
<!--		<div class="media-body">-->
<!--			<h5 class="mt-0">[message:nickname]：</h5>-->
<!--			<p>[message:content]</p>-->
<!--			<p>-->
<!--				<span class="badge badge-light text-secondary font-weight-normal">[message:os]</span>-->
<!--				<span class="badge badge-light text-secondary font-weight-normal">[message:bs]</span>-->
<!--				<span class="badge badge-light text-secondary font-weight-normal">[message:askdate]</span>-->
<!--			</p>-->

<!--			{pboot:if('[message:recontent]'!='')}-->
<!--			<div class="media mt-3 border-top-dashed pt-3">-->
<!--				<img class="mr-3" src="{pboot:sitetplpath}/images/user.png" height="25">-->
<!--				<div class="media-body">-->
<!--					<h5 class="mt-0">管理员回复：</h5>-->
<!--					<p>[message:recontent]</p>-->
<!--					<p><span class="badge badge-light text-secondary font-weight-normal">[message:replydate]</span></p>-->
<!--				</div>-->
<!--			</div>-->
<!--			{/pboot:if}-->
<!--		</div>-->
<!--	</div>-->
<!--	{/pboot:message}-->

<!--	&lt;!&ndash; 分页 &ndash;&gt;-->
<!--	{pboot:if({page:rows}>0)}-->
<!--	<nav aria-label="page navigation" class="my-4">-->
<!--		<div class="pagination justify-content-center">-->
<!--			<a class="page-item page-link" href="{page:index}">首页</a>-->
<!--			<a class="page-item page-link" href="{page:pre}">上一页</a>-->
<!--			{page:numbar}&lt;!&ndash; 数字条，小屏幕时自动隐藏&ndash;&gt;-->
<!--			<a class="page-item page-link" href="{page:next}">下一页</a>-->
<!--			<a class="page-item page-link" href="{page:last}">尾页</a>-->
<!--		</div>-->
<!--	</nav>-->
<!--	{/pboot:if}-->

	<!-- 留言表单 -->
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-12 col-lg-6">
			<form class="my-4" onsubmit="return submsg(this);">
				<div class="form-group">
					<label for="contacts">*Full Name</label>
					<div>
						MR<input name="sex" type="radio" value="MR" />
						MS<input name="sex" type="radio" value="MS" />
						<input type="text" name="contacts" required id="contacts" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label for="mobile">*Tel</label>
					<div>
						<input type="text" name="mobile" required id="mobile" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="email" >*E-Mail</label>
					<div>
						<input type="text" name="email" required id="email" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="email" >*Company</label>
					<div>
						<input type="text" name="company" required id="company" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="content" >*Questions/Comments</label>
					<div>
						<textarea style="width:200px; height:100px;" name="content" id="content" class="form-control"></textarea>
					</div>
				</div>
				{pboot:if({pboot:msgcodestatus})}
				<div class="form-group">
					<label for="checkcode">Checkcode</label>
					<div class="row">
						<div class="col-6">
							<input type="text" name="checkcode" required id="checkcode" class="form-control">
						</div>
						<div class="col-6">
							<img title="点击刷新" class="codeimg" style="height:33px;" src="{pboot:checkcode}" onclick="this.src='{pboot:checkcode}?'+Math.round(Math.random()*10);" />
						</div>
					</div>
				</div>
				{/pboot:if}

				<div class="form-group">
					<button type="submit" class="btn btn-info mb-2">Submit</button>
				</div>
			</form>
		</div>
		<div class="col-lg-3"></div>
	</div>

</div>

<script>

	//ajax提交留言
	function submsg(obj){
		var url='{pboot:msgaction}';
		var sex=$("input[type='radio']:checked").val();
		var contacts=sex+$(obj).find("#contacts").val();
		var mobile=$(obj).find("#mobile").val();
		var content=$(obj).find("#content").val();
		var checkcode=$(obj).find("#checkcode").val();
		var email=$(obj).find("#email").val();
		var company=$(obj).find("#company").val();
		$.ajax({
			type: 'POST',
			url: url,
			dataType: 'json',
			data: {
				contacts: contacts,
				mobile: mobile,
				content: content,
				email: email,
				company: company,
				checkcode: checkcode
			},
			success: function (response, status) {
				if(response.code){
					alert("谢谢您的反馈，我们会尽快联系您！");
					$(obj)[0].reset();
				}else{
					if(response.tourl!=""){
						if(confirm(response.data+'是否立即跳转登录？')){
							location.href=response.tourl;
						}
					}
					$('.codeimg').click();//更新验证码
				}
			},
			error:function(xhr,status,error){
				alert('返回数据异常！');
			}
		});
		return false;
	}
</script>
{include file=comm/foot.html}
